.wrapper{
    width: 100%;
    height: 100%;
}

.indicator{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.ok {
    background-color: #107c10;
}

.error {
    background-color: #a80000;
}

.warning {
    background-color: #fff4ce;
}

.unknow {
    background-color: #797673;
}